*,
*::before,
*::after {
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

input,
textarea,
[contenteditable="true"] {
  -webkit-user-select: text;
  user-select: text;
}

html,
body {
  -webkit-tap-highlight-color: transparent;
}
